<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <h4> Slalom</h4>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-card class="ion-no-border">
        <ion-card-header>
          <ion-card-subtitle>How to Slalom?</ion-card-subtitle>
          <ion-card-title>Slalom</ion-card-title>
          <hr>
        </ion-card-header>
        <ion-card-content>
          This lesson teaches two variations on a classic must know followers jump. Version one ends in closed position.
          <ion-button fill="outline" color="danger" class="ion-margin-top ion-margin-end">Watch video</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row class="game-image"></ion-row>
  </ion-grid>


  <app-start-game></app-start-game>

</ion-content>
