<ion-slides pager="false">
  <ion-slide>
    <ion-grid>
      <ion-card class="slider-top">
        <ion-row>
          <ion-col size="8">
            <ion-card-header>
              <ion-card-subtitle>Slider slide 1 </ion-card-subtitle>
              <ion-card-title>My current level</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away.
            </ion-card-content>
          </ion-col>
          <ion-col size="4" class="ion-align-self-center">
            <circle-progress
                    [percent]="85"
                    [radius]="35"
            ></circle-progress>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </ion-slide>

  <ion-slide>
    <ion-grid>
      <ion-card class="slider-top">
          <ion-row>
            <ion-col size="8">
              <ion-card-header>
                <ion-card-subtitle>slider slide 2</ion-card-subtitle>
                <ion-card-title>My current level</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Keep close to Nature's heart... and break clear away.
              </ion-card-content>
            </ion-col>
            <ion-col size="4" class="ion-align-self-center">
              <circle-progress
                      [percent]="85"
                      [radius]="35"
              ></circle-progress>
            </ion-col>
          </ion-row>
        </ion-card>
    </ion-grid>
  </ion-slide>
</ion-slides>
