<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <h4> freestyle</h4>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card class="ion-no-border">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>My current level</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away.
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-row class="game-image"></ion-row>

  <app-start-game [game]="gameNumber"></app-start-game>

</ion-content>
