
.bg-segment {
  background:#F1F2F7;
  color: black;
  padding: 20px;
  margin: 0 auto;
}

.profile-label {
  padding-left: 20px;
  color: grey;
}

.profile-head {
  padding: 50px 0;
}

ion-segment {}

.badges-placeholder {
  height: 200px;
  margin: 0 auto;
}

.head-label-list{
  font-weight:500;
  margin: 40px 15px;
}

.head-seg {
  color: #335277;
}
