ion-content ion-toolbar {
  //--background: translucent;
}

ion-toolbar  ion-avatar {
    width: 30px;
    height: 30px;
  }

ion-tab-bar {
  border-radius: 20px!important;
  background: transparent!important;
  border: 3px solid red!important;
}

.banner {
  background: url('src/assets/image/test.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 0 40%;
  height: 300px;
  width: 100%;
  color: white;
  padding: 60px;

  .header-content {
    z-index: 999;

    p {
      font-size: 14px;
    }

    .header-1 {
      text-shadow: 1px 2px #0000004d;
    }

    .header-2 {
      margin-top: -5px;
      text-shadow: 1px 1px #0000004d;
    }
  }
}

.title-slider {
  position: absolute;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-left: 60px;
}

.head-title {
  margin: 0;
  font-weight: 600;
}

.second-head-title {
  margin: 0;
}

.notification-btn {
  padding-top:10px;
  margin-right: 20px;
  font-size: 25px;
}

.introduction-test {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;

  h4 {
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
    color: grey;
  }
}


  .loader,
  .loader:after {
    border-radius: 50%;
    width: 4em;
    height: 4em;
  }
  .loader {
    margin: 10px auto;
    font-size: 8px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.6em solid rgba(214, 214, 214, 0.86);
    border-right: 0.6em solid rgba(214, 214, 214, 0.86);
    border-bottom: 0.6em solid rgba(214, 214, 214, 0.86);
    border-left: 0.6em solid #ff5167;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load 8.1s infinite linear;
    animation: load 2.1s infinite linear;
  }
  @-webkit-keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


.loader2,
.loader2:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.loader2 {
  margin: 10px auto;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.6em solid rgba(214, 214, 214, 0.86);
  border-right: 0.6em solid rgba(214, 214, 214, 0.86);
  border-bottom: 0.6em solid rgba(214, 214, 214, 0.86);
  border-left: 0.6em solid #ff5167;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 9.1s infinite linear;
  animation: load 6.1s infinite linear;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.list-title {
  padding-left: 50px;
}

//.bg-btm-page-01 {
//  width: 100%;
//  color: white;
//  box-sizing: border-box;
//  box-shadow: 3px 3px 5px 6px #ccc;
//  padding-bottom: 40px;
//  border-radius: 40% 0 0 0;
//}

.label-p-01 {
  font-weight:500;
}

.lb-02 {
  padding-top: 4px;
  font-size: 14px;
  color: #C898BF;
}

.lb-03 {
  padding: 4px 10px;
  font-size: 14px;
  color: white;
  background: #AB5F9B;
  margin: 5px 0;
  font-weight:500;
  border-radius: 2px;
}

.column-train-skills {
  flex-direction: column;
  padding-right: 20px;
}

//.bg-test {
//  background:red;
//  width: 100%;
//  height: 10000px;
//  position: absolute;
//}
