<ion-header>
  <ion-toolbar>
    <ion-title>setup1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides (ionSlideWillChange)="change()" pager="true" [options]="slideOpts" #slider>
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>

  </ion-slides>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="next-button ion-float-end"  (click)="next()">{{nextButton}}</ion-button>
  </ion-toolbar>
</ion-footer>
