

    <ion-button expand="full" (click)="setScene()">Send Scene</ion-button>
    <ion-button expand="full" (click)="setSpawner()">Send spawner</ion-button>
    <ion-button expand="full" (click)="setAngle()">Send Angle</ion-button>
    <ion-button expand="full" (click)="setSpeed()">Send Speed</ion-button>


    <ion-button expand="full" (click)="toggleMirror()">toggle mirror</ion-button>
    <ion-button expand="full" (click)="toggleSlope()">toggle slope</ion-button>
    <ion-button expand="full" (click)="toggleSticks()">toggle sticks</ion-button>


    <ion-button expand="full" (click)="startWebsocket()">Start game</ion-button>
    <ion-button expand="full" (click)="stopWebsocket()"> STOPPEN</ion-button>


